requests
beautifulsoup4
python-dotenv
requests
configparser
pydash
colorlog
prettytable
pypac
tqdm
lxml
pycryptodome
json5
Pillow
validators
PyExecJS
InquirerPy

# mkdocs
mkdocs-callouts
pymdown-extensions
markdown-callouts
mdx-gh-links
mkdocs-click
mkautodoc
termynal
mkdocs-git-revision-date-localized-plugin
mkdocs-material
